.AppHeader {
  position: relative;
  z-index: 1;
  background-color: #43c6ac;
  background-image: url('header-bg.jpg');
  background-position: 50% 50%;
  background-size: cover;
  padding: 200px 0;
  color: #fff;
  text-align: center;
}

.AppHeader:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #43c6ac;
  background: linear-gradient(to left, #43c6ac, #191654);
  opacity: 0.9;
}

.AppLogo {
  height: 80px;
  vertical-align: bottom;
}

@media screen and (max-width: 950px) {
  .AppHeader {
    padding: 40px 0;
  }

  .AppLogo {
    height: 50px;
  }
}