.BookList {
  display: flex;
  flex-flow: row wrap;
  /*align-content: space-between;*/
  justify-content: space-around;
  max-width: 1160px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.Card {
  padding: 1em;
  margin: 1em;
  flex: 1 1 38%;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.CardHeader {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.CardHeader img {
  display: inline-flex;
  flex: 0 0 128px;
  width: 128px;
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 4px 2px 10px -5px #000;
  overflow: hidden;
}

.BookTitle {
  margin-top: 0;
}

.BookInfo {
  font-size: 0.75em;
  line-height: 1.5;
}

.BookInfo th {
  text-align: right;
  padding: 2px 6px 2px 2px;
  vertical-align: top;
  white-space: nowrap;
}

.BookInfo td {
  padding: 2px;
  vertical-align: top;
}