.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  height: 40px;
  background: #fff;
  border: none;
  border-bottom: 2px solid #444;
  color: #444;
  font-size: 18px;
  padding: 5px 0;
  margin: 20px;
}

button {
  height: 40px;
  background: #9c27b0;
  color: #fff;
  border: none;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
              rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}